<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="AppName" value="test"/>
      <add key ="AppPassword" value="test"/>
      <add key="AcronUser" value="Admin"/>
      <add key="UserPassword" value=""/>
      <add key="ClientName" value="TestClient"/>
      <add key="HostOrIp" value="matrix2-kmk.dataforum.local"/>
      <add key="UserPort" value="3902"/>
      <add key="SessionId" value="Session00001"/>
      <add key="TargetUrl" value="matrix2-kmk.dataforum.local"/>
      <add key="Port" value="3902"/>
      <add key="Version" value="9.4"/>
      <add key="KeepAlive" value="True"/>
   </appSettings>
</configuration>